<!doctype html>
<html lang="zh-TW">
  <%- include("components/head") %>

  <body class="d-flex flex-column min-vh-100 justify-content-center">
    <!-- banner -->
    <img class="mx-auto" src="/images/banner.png" alt="banner" />

    <!-- login -->
    <%- include("components/card-login") %>

    <!-- page bottom margin, same as banner height -->
    <div style="margin-bottom: 118px"></div>

    <%- include("components/modal") %>
  </body>
</html>
