<div class="card shadow col-lg-7 p-0">
  <label class="card-header h4">搜尋結果</label>

  <div class="card-body d-flex flex-column p-4 gap-2">
    <h5 class="my-0">功德主累積：</h5>
    <input class="form-control" id="search-result" title="search" disabled />
  </div>
</div>
