<div class="card shadow col-lg-7 p-0">
  <label class="card-header h4">搜尋</label>

  <div class="card-body row row-gap-3 p-4">
    <div class="col-md-8">
      <input class="form-control" id="search" type="text" placeholder="姓名" />
    </div>

    <div class="col-md-4 d-grid">
      <button class="btn btn-danger" type="button" onclick="search()">
        搜尋
      </button>
    </div>
  </div>
</div>
