<div class="card shadow col-lg-7 p-0">
  <label class="card-header h4">功德主</label>

  <div class="card-body row row-gap-3 p-4">
    <div class="col-md-8">
      <input
        class="form-control"
        id="chief-input"
        type="text"
        placeholder="姓名"
      />
    </div>

    <div class="col-md-4 d-grid">
      <button class="btn btn-danger" onclick="setChief()">確認</button>
    </div>
  </div>
</div>
