<div class="card shadow col-lg-7 p-0">
  <label class="card-header h4" for="input-superior">功德主</label>

  <form class="card-body row row-gap-3 p-4" id="form-superior">
    <div class="col-md-8">
      <input
        class="form-control"
        id="input-superior"
        type="text"
        placeholder="姓名"
        required
        oninput="setCustomValidity('')"
        oninvalid="setCustomValidity('請輸入姓名')"
      />
    </div>

    <div class="col-md-4 d-grid">
      <button class="btn btn-warning" id="button-superior" type="submit">
        確認
      </button>
    </div>
  </form>
</div>
