<div class="card shadow col-lg-7 p-0">
  <label class="card-header h4" for="input-file">上傳</label>

  <form class="card-body row row-gap-3 p-4" id="form-upload">
    <div class="col-md-8">
      <input
        class="form-control"
        id="input-file"
        type="file"
        accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        title="upload"
        multiple
        required
        oninput="setCustomValidity('')"
        oninvalid="setCustomValidity('請選擇檔案')"
      />
    </div>

    <div class="col-md-4 d-grid">
      <button class="btn btn-danger" id="button-upload" type="submit">
        上傳
      </button>
    </div>
  </form>
</div>
